.h1{
	font-size: 300px;
}

.blue{
	color:blue;
}

.white{
	color: white;
}

.text{
	 font-size: 22px; 
}

.text_big{
	 font-size: 35px; 
}

.top{
	background: url(img/background.jpeg);
}

form {
	padding: 20px;
	color: white;
}		


form label{
	font-size: 20px
}

.form-group{
	width: 350px;
	margin: 0 auto;
}


.shirina{
	width: 1250px;
}

.shirina-dva{
	width: 1450px;
}

.shirina-mini{
	width: 420px;
}

.shirina-maxi{
	width: 790px;
}

.responsive{
	margin-left: 180px;
}

.bottom{
	background: url(img/background.jpeg);
}

@media screen and (max-width: 1724px){
	.shirina-dva{
	width: 95%;
	}
	.shirina{
		width: 95%;
		display: block;
		margin: 0 auto
	}
	.map{
		height: 75px;
	}
	

}


@media screen and (max-width: 1024px){

	.text{
	 font-size: 16px; 
	}

	.text_big{
		 font-size: 25px; 
	}

	.responsive{
	margin-left: 0;
	}

}


@media screen and (max-width: 789px){

	.mega{
		display: none;
	}	
	.responsive{
		display: none;
	}
	.resp{
		display: none;
	}

	.bottom{
		text-align: center;
	}


}

@media screen and (max-width: 375px){

.form-group{
	width: 200px;
	margin: 0 auto;
}

}


